{{ export function footer() }}<footer>
  <p>Generated at {{ it.date }} by <a href="https://github.com/svgforge/svgforge" target="_blank" rel="noopener noreferrer">svgforge</a>.</p>
</footer>{{ /export }}
